.form-container {
    width:75%;
    margin: 0 auto;
    margin-top: 80px;
    padding: 20px;
    border: 1px solid #ddd;
  }
  
  .form-header {
    background-color: #ADD8E6;
    padding: 10px;
    text-align: center;
  }
  .form-text {
    padding: 5px;
    margin-top: 0em;
    margin-bottom:0em;
    font-size: 20px;
    text-align:start;
  }
  
  .form-button {
    background-color: #ADD8E6;
    padding: 10px;
    margin-top: 10px;
    margin-bottom:10px;
    cursor: pointer;
    border-style:solid;
    border-color: black;
  }

  .form-button2 {
    background-color: #6fbad3;
    padding: 15px;
    margin-top: 15px;
    cursor: pointer;
    align-items: center;
    border-style:solid;
  }

  .upload-container {
    margin-top: 20px;
  }
  
  .upload-button {
    background-color: #ADD8E6;
    color: #000;
    margin-top : 10em;
    margin-bottom:10em;
    padding: 10px 15px;
    border: 1px solid #000;
    cursor: pointer;
  }
  
  .uploaded-files {
    margin-top: 10px;
  }
  
  .uploaded-file {
    display: inline-block;
    margin-right: 10px;
    padding: 5px 10px;
    background-color: #f0f0f0;
    border-radius: 5px;
    font-size: 14px;
  }

  .thumbnail {
    display: block;
    width: 100px; /* Set a fixed width */
    height: 50px; /* Let the height adjust proportionally */
    margin-right: 10px; /* Add some spacing between thumbnails */
  }